<div class=" customform--wrapper">
    <!-- DATA FORM -->
    <form [formGroup]="patientDataForm" (ngSubmit)="onSubmitPatientData()">
        <div class="customform--header">
            <h1 class="mb-3">Patient Data</h1>
        </div>
        <app-text-input [formControl]="patientDataForm.controls['firstName']" [label]="'First Name'"></app-text-input>
        <app-text-input [formControl]="patientDataForm.controls['lastName']" [label]="'Last Name'"></app-text-input>
        <app-text-input [formControl]="patientDataForm.controls['phone']" [type]="'tel'"
            [label]="'Phone number'"></app-text-input>
        <app-text-input [formControl]="patientDataForm.controls['gender']" [label]="'Gender'"></app-text-input>
        <app-text-input [formControl]="patientDataForm.controls['pesel']" [label]="'Pesel'"></app-text-input>
        <app-text-input [formControl]="patientDataForm.controls['email']" [label]="'Emai Address'"
            [value]="'test'"></app-text-input>

        <div class="customform--actions">
            <app-submit-button [disabled]="patientDataForm.invalid" [isLoading]="isSumbitingData" [text]="'Edit'"></app-submit-button>
            <a routerLink="/profile/profile-patient">Show patient data.</a>
        </div>
        <div *ngIf="isSumbitingDataError" class="customform--error">Incorrect data.</div>
        <div *ngIf="isSumbitingDataSucces" class="customform--succes">Data updated!</div>
    </form>

    <div class="customform--space"></div>

    <!-- ADDRESS FORM -->
    <form [formGroup]="patientAddressForm" (ngSubmit)="onSubmitPatientAddres()">
        <div class="customform--header">
            <h1 class="mb-3">Address</h1>
        </div>
        <app-text-input [formControl]="patientAddressForm.controls['street']" [label]="'Street'"></app-text-input>
        <app-text-input [formControl]="patientAddressForm.controls['buildingNumber']"
            [label]="'Building Number'"></app-text-input>
        <app-text-input [formControl]="patientAddressForm.controls['flatNumber']" [type]="'tel'"
            [label]="'Flat Number'"></app-text-input>
        <div class="customform--row">
            <app-text-input [formControl]="patientAddressForm.controls['postCode']"
                [label]="'Post Code'"></app-text-input>
            <app-text-input [formControl]="patientAddressForm.controls['city']" [label]="'City'"></app-text-input>
        </div>



        <div class="customform--actions">
            <app-submit-button [disabled]="patientAddressForm.invalid" [text]="'Edit'" [isLoading]="isSumbitingAddressData"></app-submit-button>
            <a routerLink="/profile/profile-patient">Show patient data.</a>
        </div>
        <div *ngIf="isSumbitingAddressDataError" class="customform--error">Incorrect data.</div>
        <div *ngIf="isSumbitingAddressDataSucces" class="customform--succes">Addres changed!</div>
    </form>
</div>