<div class=" customform--wrapper">
    <!-- DATA FORM -->
    <form [formGroup]="doctorDataForm" (ngSubmit)="onSubmit()">
        <div class="customform--header">
            <h1 class="mb-3">Patient Data</h1>
        </div>
        <app-text-input [formControl]="doctorDataForm.controls['firstName']" [label]="'First Name'"></app-text-input>
        <app-text-input [formControl]="doctorDataForm.controls['lastName']" [label]="'Last Name'"></app-text-input>
        <app-text-input [formControl]="doctorDataForm.controls['phone']" [type]="'tel'"
            [label]="'Phone number'"></app-text-input>
        <app-text-input [formControl]="doctorDataForm.controls['gender']" [label]="'Gender'"></app-text-input>
        <app-text-input [formControl]="doctorDataForm.controls['pesel']" [label]="'Pesel'"></app-text-input>
        <app-text-input [formControl]="doctorDataForm.controls['email']" [label]="'Emai Address'"
            [value]="'test'"></app-text-input>

        <div class="customform--actions">
            <app-submit-button [disabled]="doctorDataForm.invalid" [text]="'Edit'"></app-submit-button>
            <a routerLink="/profile/profile-patient">Show patient data.</a>
        </div>
        <div *ngIf="doctorDataForm.hasError('loginFailed')" class="customform--error">Incorrect email or password.
        </div>
    </form>

    <div class="customform--space"></div>


</div>