<div class="profile--wrapper">
    <span>Patient Data</span>
    <div class="profile--data">
        <div class="profile--data--item">
            Email: <b>{{data?.email === null ? "-" : data?.email}}</b>
        </div>
        <div class="profile--data--item">
            First Name: <b>{{data?.firstName === null ? "-" : data?.firstName}}</b>
        </div>
        <div class="profile--data--item">
            Last Name: <b>{{data?.lastName === null ? "-" : data?.lastName}}</b>
        </div>
        <div class="profile--data--item">
            Phone: <b>{{data?.phone === null ? "-" : data?.phone}}</b>
        </div>
    </div>
    <span>Addres</span>
    <div class="profile--data">
        <div class="profile--data--item">
            Street: <b>{{data?.address?.street === null ? "-" :data?.address?.street }}</b>
        </div>
        <div class="profile--data--item">
            Building Number: <b>{{data?.address?.buildingNumber === null ? "-" :data?.address?.buildingNumber }}</b>
        </div>
        <div class="profile--data--item">
            Flat Number: <b>{{data?.address?.flatNumber === null ? "-" :data?.address?.flatNumber }}</b>
        </div>
        <div class="profile--data--item">
            Post Code: <b>{{data?.address?.postCode === null ? "-" :data?.address?.postCode }}</b>
        </div>
        <div class="profile--data--item">
            City: <b>{{data?.address?.city === null ? "-" :data?.address?.city }}</b>
        </div>
    </div>
</div>