<div class="home--header">
    <h2>MedConnectPro</h2>
</div>

<div class="home--wrapper">
    <h4>
        What is MedConnectPro?
    </h4>
    <p>
        <b>MedConnectPro</b> is an innovative online service falling under the e-services category, designed for patients seeking reliable healthcare professionals. The platform enables users to share their opinions about medical experiences, fostering transparency and trust within the patient community. Additionally, the service offers the functionality of scheduling medical appointments online, ensuring convenience and easy access to healthcare. With advanced search tools, patients can quickly find specialists that meet their needs and benefit from comprehensive feedback from other users of the platform. <b>MedConnectPro</b> is a modern tool empowering patients to make informed decisions about their healthcare.
    </p>


</div>

<div class="home--wrapper">
    <h4>
        Creators
    </h4>
    <div class="home--creators">
        <span><b>Karol Krawczyński <a href="https://github.com/Kakayashi"><i class="fa fa-brands fa-github"></i></a> </b> - frontend</span>
        <span><b>Karol Kowalik <a href="https://github.com/karolk53"><i class="fa fa-brands fa-github"></i></a></b> - backend</span>
    </div>
</div>