<div class="customform--wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="customform--header">
            <h1 class="mb-3">Register</h1>
        </div>


        <app-text-input [formControl]="registerForm.controls['email']" [label]="'Emai Address'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['password']" [type]="'password'"
            [label]="'Password'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['confirmPassword']" [type]="'password'"
            [label]="'Confirm Password'"></app-text-input>


        <div class="customform--actions">
            <app-submit-button [disabled]="registerForm.invalid" [text]="'Register'"></app-submit-button>
            <a routerLink="/account/login">Login to your account</a>
            <a routerLink="/account/register-doctor">Register as doctor</a>
        </div>
        <div *ngIf="registerForm.hasError('registerFailed')" class="customform--error">Incorrect email or password.
        </div>


    </form>

</div>