<div class=" customform--wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="customform--header">
            <h1 class="mb-3">Login</h1>
        </div>
        <app-text-input [formControl]="loginForm.controls['email']" [label]="'Emai Address'"></app-text-input>
        <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'"
            [label]="'Password'"></app-text-input>
        <div class="customform--actions">
            <app-submit-button [disabled]="loginForm.invalid" [text]="'Login'"></app-submit-button>
            <a routerLink="/account/register">Create account.</a>
            <a routerLink="/account/login-doctor">Sign in as doctor.</a>
        </div>
        <div *ngIf="loginForm.hasError('loginFailed')" class="customform--error">Incorrect email or password.
        </div>
    </form>
</div>