<div class="visit--wrapper">
    <div class="visit--buttons">
        <div class="visit--buttonItem">
            <div (click)="startVisit()" class="visit--button">Start</div>
            <span *ngIf="isStarted" style="color: green;">Visit started!</span>
        </div>
        <div class="visit--buttonItem">
            <div (click)="endVisit()" class="visit--button">End</div>
            <span *ngIf="isEnded" style="color: green;">Visit ended!</span>
        </div>
        <div class="visit--buttonItem">
            <div (click)="cancelVisit()" class="visit--button">Cancel</div>
            <span *ngIf="isCanceled" style="color: green;">Visit canceled!</span>
        </div>
    </div>

    <div class="visit--info">
        <span> Note <b> {{visit?.note}}</b></span>
        <span> Planned Date <b> {{visit?.plannedDate | date:'yyyy-MM-dd HH:mm:ss'}}</b></span>
        <span> Start Date <b> {{visit?.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</b></span>
        <span> End Date <b> {{visit?.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</b></span>
        <span> Patient Id <b> {{visit?.patientId}}</b></span>
        <span> Patient Name <b> {{visit?.patientName}}</b></span>
        <span> Doctor Name <b> {{visit?.doctorName}}</b></span>
        <span><b> Note:</b></span>
    </div>
    <div>
        <textarea style="width: 650px;"></textarea>
    </div>
    <form action="">
        <app-submit-button style="margin-left: -75px;" text="Add note"></app-submit-button>
    </form>
</div>