@import "../../../../styles.scss";

.item {
  &--container {
    background-color: #0000000a;
    width: 80%;
    margin-inline: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s all;
    position: relative;

    &:hover {
      background-color: $primary-color;
      box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);

      .item--info--name {
        color: #fff;
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  &--image {
    img {
      width: 100px;
      border: 2px solid black;
      border-radius: 90px;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;

    &--name {
      color: $primary-color;
      @include font-size(+4px);
      font-weight: 500;
      transition: 0.3s all;
    }
  }

  &--rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //color: $color-gold;
    font-weight: 700;
    @include font-size(+0px);

    span {
      margin-top: -10px;
      color: black;
      font-weight: 200;
    }
  }
}
