@import "../../../styles.scss";

.filters {
  &--wrapper {
    background-color: $navbarBackground-color;
    width: 100vw;
  }

  &--content {
    max-width: 1440px;
    margin-inline: auto;
    padding: 60px 10px;
  }

  &--box {
    display: flex;
    width: 800px;
    margin-inline: auto;
    flex-direction: row;
    background-color: #0000000a;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    gap: 20px;
    border-radius: 10px;
  }

  &--item {
    label {
      margin-left: 5px;
    }

    &--spec {
      width: 200px;
    }
  }
}
